.basket_card {
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  box-shadow: 0 4px 19px 1px rgba(218, 218, 218, 0.25);
  border-radius: 10px;
  //padding: 20px 35px 30px 35px;

  :global {
    .ant-card-body {
      padding-top: 10px;
    }

  }

  .title {
    padding: 0 !important;

    h1 {
      padding: 0 !important;
    }
  }

  .badge {
    font-family: Roboto;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 48px;
    color: #F94001;
  }
}