.input {
  background: #F6F7FA;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  outline: none !important;
  box-shadow: none !important;

  * {
    background: #F6F7FA !important;

    &:focus {
      box-shadow: none !important;
    }

  }

  &:focus {
    background: #F6F7FA;
    border-color: #FF0000 !important;
    border-radius: 5px;
    box-shadow: none;
  }

  &:focus-visible {
    background: #F6F7FA;
    border-color: #FF0000 !important;
    border-radius: 5px;
    box-shadow: none !important;
    outline: none;
  }

  &:hover {
    background: #F6F7FA;
    border-color: #FF0000 !important;
    border-radius: 5px;
  }

  //:global {
  //  .ant-input:focus {
  //    background: #F6F7FA;
  //    border-color: #FF0000 !important;
  //    border-radius: 5px;
  //  }
  //}

}

.select {
  background: #F6F7FA;
  //border: 1px solid #D8D8D8;
  border-radius: 5px;
  height: 40px;

  * {
    &:focus {
      background: #F6F7FA;
      border-color: #FF0000 !important;
      border-radius: 5px;
      box-shadow: none;
    }

    &:hover {
      background: #F6F7FA;
      border-color: #FF0000 !important;
      border-radius: 5px;
    }
  }


  :global {
    .ant-select-lg {
      font-size: 15px !important;
    }

    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background: #F6F7FA !important;
      border-radius: 5px;
      border: none;
    }
  }

}