.category_card {
  // margin-top: 10px;
  // padding: 0 0 12px 24px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 280px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid #D2D2D2;
  margin: 10px 0 0 !important;
  
  @media screen and (max-width: 575px){
    margin: 0 0 0 !important;
  }
  
  &:hover {
    :global {
      .ant-card-cover {
        img {
          transform: scale(1.05);
          transition: .6s ease-in-out;
        }
      }
    }
  }

  :global {
    .ant-card-body {
      //background-color: white;
      //padding: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .blur_card {
    position: absolute;
    bottom: 14px;
    left: 20px;
    padding: 10px 20px !important;
    background: rgba(0, 0, 0, 0.3);
    border: 0.599396px solid rgba(249, 250, 251, 0.05);
    backdrop-filter: blur(23.9758px);
    border-radius: 5px;
    
    @media screen and (max-width: 575px){
      width: 130px !important;
      padding: 5px 10px !important;
      backdrop-filter: none !important;
      left:50% !important;
      top:50%; 
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.1);
    }

    h2 {
      //font-family: 'Gilroy', serif;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;

      color: white;
      text-shadow: 0 0.983163px 6.93163px rgba(0, 0, 0, 0.8);
      /* identical to box height */
      text-align: center;
      margin-bottom: 0;
      
      @media screen and (max-width: 575px){
        font-size: 12px !important;
      }
    }

    p {
      //font-family: 'Gilroy', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13.9569px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #F9FAFB;
    }
  }
}