.deliver_address {
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  box-shadow: 0 4px 19px 1px rgba(218, 218, 218, 0.25);
  border-radius: 10px;
  font-family: Roboto;
  font-size: 16px;

  :global {
    .ant-form-vertical .ant-form-item-label {
      padding-bottom: 0 !important;
      font-size: 14px;
      font-weight: 400;
    }
  }

  .yandex_map_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 20px 12px;
    border-color: #F94001;
    color: #F94001;

    &:hover {
      color: #F94001;
    }

  }


  .title {
    font-family: Roboto;
    font-size: 22px;
    margin-right: 10px;

    h1 {
      padding-top: 0 !important;
      padding-bottom: 30px !important;
    }

  }

  .form {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #555555;
  }

  h2 {
    font-weight: 600;
    font-size: 36px;
    line-height: 48px;
    color: #161412;
  }


}