.product_card {
  background: #F8F8F8;
  width: 100%;
  border-radius: 10px;
  //margin: 0 15px;
  border: 1px solid #F3F3F3;

  :global {
    .ant-card-body {
      background-color: white;
      padding: 10px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    .ant-card-head-wrapper {
      border-bottom: 0 !important;
    }

    .ant-card-head {
      border-bottom: 0 !important;
    }

    .ant-card-cover {
      text-align: center !important;
    }
  }

  .card_footer {
    .description {
      font-family: "Roboto Light", sans-serif;
      color: black;
      font-size: 14px;
      margin-bottom: 8px;
    }

    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: #AAAAAA;
    }

    .price {
      //font-family: 'Gilroy', serif;
      font-style: normal;
      font-weight: 600 !important;
      font-size: 16px !important;
      line-height: 19px;
      color: #000;
      margin-bottom: 0;

      .currency {
        font-family: "Roboto Light", sans-serif;
      }
    }

  }
}