.payment_method {
  background: #FFFFFF;
  border: 1px solid #AAAAAA;
  box-shadow: 0 4px 19px 1px rgba(218, 218, 218, 0.25);
  border-radius: 10px;

  .title {
    font-family: Roboto;
    font-size: 22px;
    margin-right: 10px;

    h1 {
      padding-top: 0 !important;
      padding-bottom: 30px !important;
    }

  }

  //h2 {
  //  font-weight: 500;
  //  font-size: 18px;
  //  line-height: 21px;
  //  color: #161412;
  //}
  //
  //h3 {
  //  font-weight: 600;
  //  font-size: 18px;
  //  color: #161412;
  //}


  .payment_card {
    background: #FBFBFB;
    border: 2px solid #d1d1d1;
    border-radius: 9.6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21px;

    .tick {
      position: absolute;
      top: -8px;
      right: -7px;
      font-size: 20px;
      font-weight: 1200;
      color: #F94001;
    }


    &:hover {
      border-color: #F94001 !important;
      border-width: 0.7px !important;
      //transition: 1.3s;
    }


    p {
      text-align: center;
      font-size: 16px;
      line-height: 21px;
      color: #000;
      margin-bottom: 0;
    }

    img {
      max-width: 70%;
      height: auto;
    }

    //&:hover {
    //  box-shadow: 0 4px 19px 1px rgba(218, 218, 218, 0.25);
    //}

  }

}
