.each_order {
  border-bottom: 1px solid #D8D8D8;
  padding: 15px 0;

  &:last-child {
    border-bottom: 0;
  }

  .product_details {
    display: flex;
    justify-content: start;
    align-items: center;

    .image {
      width: 86px;
      height: 81px;
      background: #F8F8F8;
      border: 1px solid #E5E7EB;
      border-radius: 5px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .details {
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      font-family: "Roboto Light";

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #000;
      }

      .detail {
        color: rgba(0, 0, 0, 0.75);
      }


    }
  }

  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #000;
    }

    .delete_button {
      color: #000;
      opacity: .75;
      font-size: 14px !important;

      &:hover {
        opacity: 1;
      }
    }

    .button {
      width: 25px;
      height: 25px;
      border: 1.25px solid #E5E7EB;
      border-radius: 50%;

      &:first-child {
        margin-right: 20px;
      }

      &:last-child {
        margin-left: 20px;
      }

    }
  }

  .prices {
    text-align: right;

    p {
      font-family: Roboto;
      margin-bottom: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      color: #000;
      margin-top: 10px;
    }

    del {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-decoration-line: line-through;
      color: rgba(0,0,0,0.75);
    }
  }
}