.product_details {
  margin-top: 30px;

  h1 {
    font-family: Roboto R, sans-serif;
    font-style: normal;
    font-size: 22px;
    margin-top: 10px;
  }

  .price {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #65635F;

    .sale_price {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      color: #161412
    }
  }

  .colors {
    padding: 40px 0;
    color: #65635F;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    .color_list {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 15px 0 0 0;

      .color {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }

  .sizes_table {
    border-bottom: 1px dashed #374151;
    //border: 1px solid #374151;
    //border-radius: 5px;
    padding-left: 0;
    padding-right: 0;
  }

  .sizes {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;

    .size_button {
      width: 42px;
      height: 42px;
      border: 1px solid #D2CFC8;
      border-radius: 5px;
      margin-right: 10px;
      transition: none !important;
      margin-bottom: 10px;
      //padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .buy_now {
    font-family: Roboto;
    background: #F94001;
    border: 1px solid #F94001;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 25px 27.5px;
    margin-right: 20px;
  }

  .add_to_card {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid #F94001;
    border-radius: 5px;
    color: #F94001;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 10px;
  }

  .like {
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }

  .description_section {
    margin: 20px 0;

    .description_header {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 22px !important;
      line-height: 28px;
      color: #161412;
    }
  }

}