.title {
  //padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;


  h1 {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 0;
    /* identical to box height, or 133% */
    /* black */
    color: #000;
  }
}