.top_sells {
  padding-bottom: 0;

  .title {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 0;
    
    @media screen and(max-width: 767px){
      padding: 20px 0 !important;
    }

    h2 {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 28px;
      
      @media screen and(max-width: 767px){
        font-size: 18px !important;
      }
    }
  }

  .border_bottom {
    width: 88px;
    border-bottom: 4px solid #000000;
    border-radius: 100px;
  }
}
