.tab_buttons {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 15px 0;

  .button {
    padding: 20px 25px;
    margin-right: 40px;
    background-color: transparent;

  }
}