.sizes_table {
  color: #000000;

  :global {

    .ant-table-tbody {
      .ant-table-row {
        .ant-table-cell {
          color: rgba(0, 0, 0, 0.75) !important;
        }

        &:hover {
          .ant-table-cell {
            color: black !important;
          }
        }
      }
    }
  }
}