.invoice {
  background: #FFFFFF;
  border: 1px solid #FF0000;
  box-shadow: 0 4px 19px 1px rgba(218, 218, 218, 0.25);
  border-radius: 10px;
  padding: 24px;
  font-family: Roboto;


  ul {
    list-style-type: none;
    padding-inline-start: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: start;

      &:last-child {
        //justify-content: center;
        flex-direction: column;
      }

      .titles {
        h1 {
          padding-top: 0 !important;
          padding-bottom: 22px !important;
        }
      }

      p.titles {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 29px;
        color: #000;


        span {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: rgba(0, 0, 0, .75);
        }
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: rgba(0, 0, 0, .75);

        &:first-child {
          text-align: left;
        }

        &:last-child {
          text-align: right;
        }

      }

      .order_button {
        font-family: Roboto;
        width: 100%;
        padding: 25px 0;
        //padding: 25px 125px;
        background: #F94001;
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .terms_of_use {
        font-family: Roboto R, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 13.5px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.75);
        margin-top: 20px;


        a {
          &:hover {
            color: black;
            color: rgba(0, 0, 0, 1);
          }
        }


        :global {
          .ant-checkbox-checked .ant-checkbox-inner {
            background-color: #F94001;
            border-color: #C4C4C4;
          }
        }

      }

    }

    li.all_info {
      p {
        color: black;
      }
    }

  }

}