@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html,
body {
    padding: 0;
    margin: 0;
    /*font-family: 'Montserrat', sans-serif;*/
    font-family: "Roboto R", sans-serif;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: transparent;
}

ul {
    list-style-type: none;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #545454;
}

body > * {
    font-family: "Roboto R", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

/* * {
    box-sizing: border-box;
} */

.d-flex {
    display: flex;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: start;
}

.justify-between {
    justify-content: space-between;
}

.align-end {
    align-items: end;
}

.roboto-medium {
    font-family: Roboto, sans-serif;
}

.roboto-regular {
    font-family: "Roboto R", sans-serif;
}


.container {
    /* min-width: 1234px; */
    max-width: 1296px;
    margin: 0 auto;
    /*border-left: 1px solid black;*/
    /*border-right: 1px solid black;*/
}

.mt-10 {
    margin-top: 10px;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-0 h1 {
    padding-top: 0 !important;
}

.mini_container {
    padding: 0 20px;
}

.image-container {
    width: 100%;
}

.image-container > div {
    position: unset !important;
}

.image-container .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
}



.align-start {
    align-items: start !important;
}

.col-5 {
    display: flex;
    max-width: 20%;
    flex: 0 0 20%;
    padding: 6px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

@media (min-width: 576px) and (max-width: 768px) {
    .container {
        min-width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }

    .col-5 {
        display: block;
        flex: 0 0 33%;
        max-width: 33.33%;
    }
}

@media (max-width: 576px) {
    .container {
        min-width: 100%;
        max-width: 100%;
        padding: 0 20px;
    }

    .col-5 {
        max-width: 50%;
        flex: 0 0 50%;
    }
}

.ant-row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    min-height: 300px !important;
    height: 280px !important;
    row-gap: 0 !important;
  }


.ant-col {
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    height: 280px !important;
}
.ant-card {
    width: 100% !important;
    height: 100% !important;
}
  .ant-col:first-child {
      padding: 0 5px 0 16px!important;
  }
  .ant-col:nth-child(2) {
      padding: 0 5px 0 5px!important;
  }
  .ant-col:nth-child(3) {
      padding: 0 5px 0 5px!important;
  }
  .ant-col:nth-child(4) {
      padding: 0 16px 0 5px!important;
  }
  
  
  /* .ant-col:last-child {
    padding-right: 0 !important;
  } */
  
@media (min-width: 768px) and (max-width: 991px) {
    .ant-row {
        min-height: 590px !important;
        display: grid !important;
        grid-template-columns: 1fr 1fr !important;
        /* max-width: 100% !important; */
        margin: 10px 0 0 0 !important;
    }
    .ant-col {
        max-width: 98% !important;
    }
    .ant-card {
        /* height: 200px !important; */
        
      }
      .ant-col:first-child {
        padding: 0 5px 0 16px!important;
    }
    .ant-col:nth-child(2) {
        padding: 0 16px 0 5px!important;
    }
    .ant-col:nth-child(3) {
        padding: 0 5px 0 16px!important;
    }
    .ant-col:nth-child(4) {
        padding: 0 16px 0 5px!important;
    }
}
@media (min-width: 550px) and (max-width: 768px) {
    .ant-row {
        min-height: 590px !important;
    }
    .ant-col:first-child {
        padding: 0 5px 0 16px!important;
    }
    .ant-col:nth-child(2) {
        padding: 0 16px 0 5px!important;
    }
    .ant-col:nth-child(3) {
        padding: 0 5px 0 16px!important;
    }
    .ant-col:nth-child(4) {
        padding: 0 16px 0 5px!important;
    }
    .ant-card {
        /* height: 200px !important; */
        
      }
}
@media (min-width: 321px) and (max-width: 550px) {
    .ant-row {
    min-height: 310px !important;
    row-gap: none !important;
    }
    .ant-col {
        max-width: 100%;
        height: 141px !important;
        margin: 10px 0 0 0 !important;
    }
    .ant-col:first-child {
        /* padding: 0 16px 0 16px!important; */
    }
    .ant-col:nth-child(2) {
        padding: 0 16px 0 5px!important;
    }
    .ant-col:nth-child(3) {
        padding: 0 5px 0 16px!important;
        margin: 0px 0 0 0 !important;
    }
    .ant-col:nth-child(4) {
        padding: 0 16px 0 5px!important;
        margin: 0px 0 0 0 !important;
    }
    .ant-card {
        min-height: 80% !important;
       }
 }
 /* .ais-Hits {
    display: grid;
    justify-content: space-around;
 } */
 
 .topSells_top_sells__BwAWB .row {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .topSells_top_sells__BwAWB .ais-Hits-list {
    padding: 0 16px 0 !important;
    display: grid;
 }
 .topSells_top_sells__BwAWB .ais-Hits-item {
    border-radius: 5px !important;
    overflow: hidden;
    /* padding: 0 10px !important; */
 }
 .topSells_top_sells__BwAWB .productCard_description__7ahxS {
    height: 67px !important;
    overflow: hidden;
    max-width: 270px !important;
    margin: 0 auto;
    font-size: 13px !important;
 }
 .topSells_top_sells__BwAWB .productCard_price__86CNm {
    padding-top: 10px !important;
}

.topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover {
    /* width: 168px !important;    */
    height: 180px !important;
    text-align: center !important;
}
.topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover img{
    width: 280px !important;   
    height: 140px !important;
    object-fit: cover;
    padding: 20px 10px 0 !important;
    margin: 0 auto !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .topSells_top_sells__BwAWB .ais-Hits-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr !important;
     }
}
@media (min-width: 575px) and (max-width: 768px) {
    .topSells_top_sells__BwAWB .ais-Hits-list {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 10px !important;
     }
}
@media (min-width: 321px) and (max-width: 575px) {
    .topSells_top_sells__BwAWB .ais-Hits-list {
        display: grid;
        grid-template-columns: 1fr 1fr !important;
        gap: 10px !important;
     }
     .topSells_top_sells__BwAWB .productCard_description__7ahxS {
        height: 34px !important;
        overflow: hidden;
        margin: 0 !important
     }
     .topSells_top_sells__BwAWB .ais-Hits-item {
        
     }
     .topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover {
        height: 170px !important;
        text-align: center !important;
    }
    .topSells_top_sells__BwAWB .ais-Hits-item .ant-card-cover img{
        width: 159px !important;   
        height: 124px !important;
        object-fit: cover;
        padding: 20px 10px 0 !important;
        margin: 0 auto !important;
    }
    .topSells_top_sells__BwAWB .productCard_price__86CNm  span{
        font-size: 14px !important;
    }
}

.topSells_top_sells__BwAWB .ant-row {
    min-height: 100px !important;
    height: 170px !important;
}
.topSells_top_sells__BwAWB .ant-col {
    min-height: 80px !important;
    height: 80px !important;
    margin: 0 5px !important;
}
@media (min-width: 768px) and (max-width: 991px) {
    .topSells_top_sells__BwAWB .ant-row {
        display: flex !important;
        
    }
    /* .topSells_top_sells__BwAWB .ant-col {
        
    } */
}
@media (min-width: 321px) and (max-width: 575px) {
    .topSells_top_sells__BwAWB .ant-row {
        min-height: 100px !important;
        height: 150px !important;
        
    }
    .topSells_top_sells__BwAWB .ant-col {
        /* display: none !important; */
    }
    .topSells_top_sells__BwAWB .ant-col img{
        width: 50px !important;
        height: 50px !important;
    }
}