.product_list {

  .product_pagination {
    :global {

      .ant-pagination-item {
        &:hover {
          border-color: #F94001;

          a {
            color: #F94001;
          }
        }
      }

      .ant-pagination-item-active {
        border-color: #F94001 !important;

        a {
          color: #F94001;

        }
      }

      .ant-pagination-prev, .ant-pagination-next {
        &:hover {
          .ant-pagination-item-link {
            border-color: #F94001;
            color: #F94001;

          }
        }
      }
    }
  }
}